<div *ngFor="let listSlide of slide">
  <div
    class="main_slider"
    style="background-image: url({{listSlide.slideImage}})"
  >
    <div class="container fill_height">
      <div class="row align-items-center fill_height">
        <div class="col">
          <div class="main_slider_content">
            <h6>{{listSlide.slideText}}</h6>
            <h1>{{listSlide.slideTextImg}}</h1>
            <div class="red_button shop_now_button">
              <a href="#">{{listSlide.buttonText}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
