<!-- <app-header></app-header>
<app-home></app-home>
<app-footer></app-footer> -->
<div class="super_container">
    <!-- Header -->
    <!-- <header class="header trans_300"> -->
      <!-- Top Navigation -->
     <!-- <app-subheader></app-subheader> -->
      <!-- Main Navigation -->
      <!-- <app-header></app-header> -->
    <!-- </header> -->
    <!-- <div class="fs_menu_overlay"></div> -->
    
    <!-- Slider -->
    <!-- <app-slide></app-slide> -->
    <!-- Banner -->
    <!-- <app-home></app-home> -->
    <!-- New Arrivals -->
    
    
    <!-- Footer -->
    <!-- <app-footer></app-footer> -->
    <router-outlet></router-outlet>
  </div>
